/* RESET */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
    background-color: #7fffd4;
    
}
header{
    padding: 10px;
}

footer{
    padding: 10px;
}